rpy2=2.8
tzlocal
libiconv
r-nloptr
r-matrix
r-reshape2
r-lattice
r-latticeextra
r-gridbase
r-gridextra
r-ggplot2
r-mass
r-rcppeigen
r-lme4
r-sparsem
r-matrixmodels
r-mgcv
r-nnet
r-pbkrtest
r-quantreg
r-zoo
r-car
r-lmtest
r-sandwich
r-coda
r-minqa
