# The basic requirements for developing chainladder

name: cl_dev

channels:
  - defaults
  - conda-forge
  
dependencies:
  - python
  - pip
  - git
  - ipython
  - ipykernel

  - pandas
  - scikit-learn
  - sparse
  - numba
  - dill
  - patsy
  - matplotlib

  # testing
  - lxml
  - pytest
  - pytest-cov
  - pytest-xdist
  - jinja2

  - pip:
    - -e .