include chainladder/utils/data/ABC.pkl
include chainladder/utils/data/auto.pkl
include chainladder/utils/data/casresearch.pkl
include chainladder/utils/data/GenIns.pkl
include chainladder/utils/data/liab.pkl
include chainladder/utils/data/M3IR5.pkl
include chainladder/utils/data/mcl.pkl
include chainladder/utils/data/Mortgage.pkl
include chainladder/utils/data/MW2008.pkl
include chainladder/utils/data/MW2014.pkl
include chainladder/utils/data/quarterly.pkl
include chainladder/utils/data/RAA.pkl
include chainladder/utils/data/UKMotor.pkl
include chainladder/utils/data/USAA.pkl
