include chainladder/data/ABC.pkl
include chainladder/data/auto.pkl
include chainladder/data/casresearch.pkl
include chainladder/data/GenIns.pkl
include chainladder/data/liab.pkl
include chainladder/data/M3IR5.pkl
include chainladder/data/mcl.pkl
include chainladder/data/Mortgage.pkl
include chainladder/data/MW2008.pkl
include chainladder/data/MW2014.pkl
include chainladder/data/quarterly.pkl
include chainladder/data/RAA.pkl
include chainladder/data/UKMotor.pkl
include chainladder/data/USAA.pkl
